{% extends 'profile_page.html' %}

{% block filter %}{% endblock filter %}

{% block category %}
{% endblock category %}

{% block profile %}
<form action="" class="form-control text-center mt-5" method="GET">
    {% csrf_token %}
    <label for="" class="font-">You sure you wanna delete?</label><br><br>
    <input type="submit" value="Confirm" class="btn btn-primary" name="submit">
    <a href="{% url 'profile' %}" class="btn btn-warning mx-3">Cancel</a>
</form>
{% endblock profile %}

{% block paginator %}{% endblock %}