{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="{% static 'js/validate.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="register_form">
        <h1  class="form-label mt-5 text-center">Log in</h1>
        <form action="" class="form-control" method="POST" onsubmit="return login_validate()">
            {% csrf_token %}
            <div class="mb-3 my-4">
                <label for="exampleFormControlInput1" class="form-label">User Name</label>
                <input type="text" class="form-control" id="email" placeholder="User Name" name="username" autocomplete="off">
                <span class="text-danger" id="username"></span>
            </div>
            <div class="mb-3 my-4">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password" autocomplete="off">
                <span class="text-danger" id="log_password"></span>
            </div>
            <input type="submit" class="btn btn-success btn-lg" value="Submit"> 
            <a href="{% url 'register' %}" class="btn btn-primary btn-lg">Register First</a>       
        </form>
        <h3 class="text-danger">{{error}}</h3>
    </section>

    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>